{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-50 m-5 rounded p-2 bg-light">
        <div class="text-center">
            <h1 class="display-1 fw-bold "> 404 </h1>
            <p class="fs-3"> <span class="text-danger">aaaach hada ... aaach hada. </span> fiiin knti ....fiiin knti. w3lya ghbrti... w3lya ghbrti. m7m9lya raaasiii. m7m9lya raaassi</p>
       <a href="{{ path('Home') }}" class="btn btn-primary">return to the homepage</a>.
    </p>
{% endblock %}