{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold bg-light"> aaaach hada ... aaach hada. fiiin knti ....fiiin knti. w3lya ghbrti... w3lya ghbrti. m7m9lya raaasiii. m7m9lya raaassi</h1>

            <p> <a href="{{ path('Home') }}"> return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}